body{margin: 0px;
padding: 0px;}

.section1{
    background-color: #1F2937;
    width: 100vw;
    height:400px ;
    }
    .header{
        background-color: #1F2937;
        display: flex;
        justify-content:space-between;
        padding:15px;
        
    }
    .link{display: flex;
    }
    